@font-face {
    font-family: 'Noto-Sans-Display-Bold';
    src:url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.woff') format('woff'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.svg#Noto-Sans-Display-Bold') format('svg'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans-Medium';
    src:url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.woff') format('woff'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.svg#Noto-Sans-Medium') format('svg'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    /* height: 3000px; */
    font-family: 'Noto-Sans-Medium';
    color: white;
}


:root {
    font-size: 9.27px;
}

h1{
    font-family: 'Noto-Sans-Display-Bold';
    font-size: 6rem;
    letter-spacing: -.2rem;
}
h2{
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
    line-height: 2.2rem;
    font-family: sans-serif;
    font-weight: 100;
}

.m-bottom-05{
    margin-bottom: .5rem;
}
.m-top-2{
    margin-top: 4rem;
}

/*--------------HEADER STARTS HERE ---------------------*/
header{
    position: relative;
    background-image: url(resources/HeaderImg.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    /* justify-content: space-between; */
}

header>*{
    margin-right:5%;
    margin-left: 5%;
    margin-top: 4rem;
    z-index: 1;
}
#gradient{
    margin:0;
    
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: -10;
    top: -1000;
    background-image: linear-gradient(to top,rgba(0,0,0,.65)0%,rgba(0,0,0,.65)100%,rgba(255,255,255,0));
    /* background-color: rgba(0, 0, 0, 50%); */
    z-index: 0;
}
header h1{
    margin:400px 2rem 0 2rem;
    line-height: 6.5rem;

}
#nav{
    /* border: 1px solid blue; */
    width: 90%;
    margin-top:2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#h-btn{
    display: flex;
    width: 70%;
    justify-content: center;
   
}
#h-btn>*{
    margin-right: 5%;
    margin-bottom: 2rem;
    
}

.btn-blue{
    display: flex;
    align-items: center;
    background-color: #4397A4;
    border-radius: 4rem;
    padding: .8em 2.5em;
    width: auto;
}

.btn-white{
    
    border:2px solid white;
    border-radius: 4rem;
    padding: 3% 5%;
    width: auto;
}

@media (max-device-height:820px){

    header h1{
        margin:180px 2rem 0 2rem;
        line-height: 6.5rem;
    
    }
}
@media (max-device-height:720px){
    header h1{
        margin:180px 2rem 0 2rem;
        line-height: 6.5rem;
    
    }
}
@media (max-device-height:620px){
    header h1{
        margin:140px 2rem 0 2rem;
        line-height: 6.5rem;
    
    }
}
/*--------------HEADER ENDS HERE ---------------------*/



/*--------------SECTION STARTS HERE ---------------------*/


section{
    background-color: #E1EBFA;
}
section:nth-child(2n+1){
    background-color: #F4F7FF;
}

         /*------SERVICE SECTION STARTS HERE -----*/


#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    height: auto;

}
#services>*{
    margin: 3rem;
}
.ser-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    row-gap: 3rem;
    /* height: 72vh; */

}
.ser-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 13%; */
}
.ser-card>*{
    margin-bottom: 8%;
}

             /*------SERVICE SECTION ENDS HERE -----*/


             /*------PRODUCT SECTION STARTS HERE -----*/

#products{
    
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    /* border: 2px solid yellow; */
}
.pro-grid{
    
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-evenly;
    /* gap: 2rem; */

}
.pro-card{
    background-color: white;
    margin-left: 2.5rem;
    border-radius: .5rem;
}

.label{
    margin: 2rem;
}

#products .btn-blue{
    padding: 1.5rem 7rem 1.5rem 7rem;
    color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
            /*------PRODUCT SECTION ENDS HERE -----*/


            /*------TEAM SECTION STARTS HERE -----*/    

    
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.pro-card-style{
    background-image: linear-gradient(88.7deg,#C6DBFF,#E1EBFA);
}
