@font-face {
    font-family: 'Noto-Sans-Display-Bold';
    src:url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.woff') format('woff'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.svg#Noto-Sans-Display-Bold') format('svg'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans-Medium';
    src:url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.woff') format('woff'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.svg#Noto-Sans-Medium') format('svg'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    /* height: 4000px; */
    font-family: 'Noto-Sans-Medium';
    color: white;
}


:root {
    font-size: 9.27px;
}

h1{
    font-family: 'Noto-Sans-Display-Bold';
    font-size: 6rem;
    letter-spacing: -.2rem;
}
h2{
    font-size: 3rem;
    color:#486A6F;
}

h3{
    font-size: 1.5rem;
    
}
p{
    font-size: 1rem;
    line-height: 2.2rem;
    font-family: sans-serif;
    font-weight: 100;
}

.m-bottom-05{
    margin-bottom: .5rem;
}
.m-top-2{
    margin-top: 4rem;
}

/*--------------HEADER STARTS HERE ---------------------*/
header{
    position: relative;
    background-image: url(resources/HeaderImg.png);
    background-size: cover;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    /* justify-content: space-between; */
}

header>*{
    margin-right:5%;
    margin-left: 5%;
    margin-top: 4rem;
    z-index: 1;
}
#gradient{
    margin:0;
    
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: -10;
    top: -1000;
    background-image: linear-gradient(to top,rgba(0,0,0,.65)0%,rgba(0,0,0,.65)100%,rgba(255,255,255,0));
    /* background-color: rgba(0, 0, 0, 50%); */
    z-index: 0;
}
header h1{
    margin:220px 2rem 0 2rem;
    line-height: 6.5rem;

}
#nav{
    /* border: 1px solid blue; */
    width: 90%;
    margin-top:2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#h-btn{
    display: flex;
    width: 70%;
    justify-content: center;
    /* border: 1px solid red; */
   
}
#h-btn>*{
    margin-right: 5%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.btn-blue{
    display: flex;
    align-items: center;
    background-color: #4397A4;
    border: 1.8px solid #4397A4;

  
}



.btn-white{
    background-color: transparent;
    border:1.8px solid white;
   
}


.btn-white,.btn-blue{
    font-family: "Noto-Sans-Medium";
    color: white;
    font-size: 1.1rem;
    height: 35px;
    width: auto;
    padding: .8em 2em;
    border-radius: 4rem;
}
.head-btn{ 
    font-size: 1rem;
    padding:0.8rem 1.5rem;
    
}
.head-btn a{
    text-decoration: none;
    color: inherit;
}
/*--------------HEADER ENDS HERE ---------------------*/



/*--------------SECTION STARTS HERE ---------------------*/


section{
    background-color: #E1EBFA;
}
section:nth-child(2n+1){
    background-color: #F4F7FF;
}

         /*------SERVICE SECTION STARTS HERE -----*/


#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    height: auto;

}
#services>*{
    margin: 3rem;
}
.ser-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    row-gap: 3rem;
    /* height: 72vh; */

}
.ser-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 13%; */
}
.ser-card>*{
    margin-bottom: 8%;
}

             /*------SERVICE SECTION ENDS HERE -----*/


             /*------PRODUCT SECTION STARTS HERE -----*/

#products{
    
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding:4rem 0 4rem 0;
    /* border: 2px solid yellow; */
}
.pro-grid{
    /* width: 90%; */
    display: flex;
    /* border: 1px solid blue; */
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 1rem;
    padding: .8rem;


}
.pro-card{
    background-color: white;
    /* margin-left: 2.5rem; */
    border-radius: .5rem;
}

.label{
    margin: 2rem;
}

#products .btn-blue{
    padding: 1.5rem 7rem 1.5rem 7rem;
    color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
            /*------PRODUCT SECTION ENDS HERE -----*/


            /*------TEAM SECTION STARTS HERE -----*/    

    
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.pro-card-style{
    background-image: linear-gradient(88.7deg,#C6DBFF,#E1EBFA);
}


            /*------TEAM SECTION ENDS HERE -----*/ 

             /*------TESTOMONY SECTION STARTS HERE -----*/  

#testo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 0;
    /* height: 60vh; */
}

#testo>*{
    margin-top: 2rem;
}

.logo-bar{
    border-top: 1px solid #486A6E;
    border-bottom: 1px solid #486A6E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    /* margin-top: 2rem; */
}

.testo-box{
    color: #4397A4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;  
}
.testo-rev{

    gap: 1rem;
    margin:2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.testo-card{
    width: 85%;
    margin-bottom: 4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 15px 4px rgba(0,0,0,.2);
}
.stars ul{
    color: gold;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .5rem;
}
             /*------TESTOMONY SECTION ENDS HERE -----*/

             /*------CONTACT SECTION STARTS HERE -----*/

#contact{
    color: #4397A4;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0 0 6rem 0;
}
             
.contact-box{
    display: flex;
    justify-content: center;
    /* background-color:#C6DBFF; */
    background-image: linear-gradient(90deg,#d8e5fb,#E1EBFA);
    width: 80%;
    border-radius: .3rem;
    margin-bottom: 3rem;
    box-shadow: 0px 17.38px 34.75px 0px rgba(59, 130,246 ,.25);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 1rem;
    /* border: 1px solid red; */
    width: 90%;
    /* box-shadow: 0px 30px 15px 4px rgba(198, 219,255 ,0.2) ; */
}
td{
    padding-right: 10px;
    padding-bottom: 20px;
    width: 50%;
    
}
td>*{
    
    margin:2px;
    padding: 2px;
    margin-left: 3px;
    height: 70%;
}
form input,textarea{
    border:.5px solid#486A6F;
    border-radius: .2rem;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    
}
form input{
    height: 23.17px;
  
}
form textarea{
    height: 75.29px;
    resize: none;
}


form button{
    border: none;
    color: white;
    font-weight: 600;
}

.contact-icon-div{
    width: 85%;
    /* border: 1px solid red;    */
    display: flex;
    gap:1.5rem;
    justify-content: center;

}
.contact-icon-inner-div{
    font-size: 11px;
   display: flex;
   align-items: center;
   gap: 1rem;
}
.contact-icon-inner-div i{
    font-size: 17px;
    background-color:#C6DBFF ;
    padding: 1rem;
    border-radius: .2rem;
}
.contact-icon-inner-div>img{
    font-size: 17px;
    background-color:#DAE6FB ;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: .2rem;
}

        /*------CONTACT SECTION ENDS HERE -----*/

        /*------FOOTER SECTION STARTS HERE -----*/

/*--------------SECTION ENDS HERE ---------------------*/

/*--------------FOOTER STARTS HERE ---------------------*/

footer{
    padding:3rem 0 3rem 0;
    /* height: 50vh; */
    background-color: #486A6E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-div-main{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.f-div-main>div{
    display: flex;
    justify-content: space-between;
}
.f-div-main-details{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
}

.social>*{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 10px;
    padding:.8rem;
    background-color: rgba(103, 140 , 146, .7);
    border-radius: .3rem;
}

/*--------------FOOTER ENDS HERE ---------------------*/