@font-face {
    font-family: 'Noto-Sans-Display-Bold';
    src:url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.woff') format('woff'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.svg#Noto-Sans-Display-Bold') format('svg'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot'),
        url('resources/Fonts/DisplayBold/Noto-Sans-Display-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans-Medium';
    src:url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.woff') format('woff'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.svg#Noto-Sans-Medium') format('svg'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot'),
        url('resources/Fonts/Medium/Noto-Sans-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}
body{
    width:100vw;
    /* height: 4000px; */
    font-family: 'Noto-Sans-Medium';
    color: white;
    overflow-x: hidden;
}


:root {
    font-size: 9.27px;
}

h1{
    font-family: 'Noto-Sans-Display-Bold';
    font-size: 6rem;
    letter-spacing: -.2rem;
}
h2{
    font-size: 3rem;
    color:#486A6F;
}

h3{
    font-size: 1.5rem;
    
}
p{
    font-size: 1rem;
    line-height: 2.2rem;
    font-family: sans-serif;
    font-weight: 100;
}

.m-bottom-05{
    margin-bottom: .5rem;
}
.m-top-2{
    margin-top: 4rem;
}

/*--------------HEADER STARTS HERE ---------------------*/
header{
    width: 100%;
    position: relative;
    background-image: url(resources/HeaderImg.png);
    background-size: cover;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    /* justify-content: space-between; */
}

header>*{
    margin-right:5%;
    margin-left: 5%;
    margin-top: 4rem;
    z-index: 1;
}   
#gradient{
    margin:0;
    
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: -10;
    top: -1000;
    background-image: linear-gradient(to top,rgba(0,0,0,.65)0%,rgba(0,0,0,.65)100%,rgba(255,255,255,0));
    /* background-color: rgba(0, 0, 0, 50%); */
    z-index: 0;
}
header h1{
    margin:23.73rem 2rem 0 2rem;
    line-height: 6.5rem;
    text-align: center; 
    font-family: 'Noto-Sans-Display-Bold';

}
header span{
    text-align: center ; 
    font-size: 1.6rem; 
    width: 71%; 
    font-weight: 400;
}
#nav{
    /* border: 1px solid blue; */
    width: 90%;
    margin-top:2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-bar{
    display: none;
}




#h-btn{
    display: flex;
    width: 70%;
    justify-content: center;
    /* border: 1px solid red; */
   
}
#h-btn>*{
    margin-right: 5%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.btn-blue{
    display: flex;
    align-items: center;
    background-color: #4397A4;
    border: 1.8px solid #4397A4;

  
}



.btn-white{
    background-color: transparent;
    border:.19rem solid white;
   
}


.btn-white,.btn-blue{
    font-family: "Noto-Sans-Medium";
    color: white;
    font-size: 1.1rem;
    height: 3.77rem;
    width: auto;
    padding: .8em 2em;
    border-radius: 4rem;
}
.head-btn{ 
    font-size: 1rem;
    padding:0.8rem 1.5rem;
    
}
.head-btn a{
    text-decoration: none;
    color: inherit;
}
/*--------------HEADER ENDS HERE ---------------------*/



/*--------------SECTION STARTS HERE ---------------------*/


section{
    background-color: #E1EBFA;
    width: 100%;
}
section:nth-child(2n+1){
    background-color: #F4F7FF;
}

         /*------SERVICE SECTION STARTS HERE -----*/


#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    height: auto;
    width: 100%;

}
#services>*{
    margin: 3rem;
}
.ser-grid{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    row-gap: 3rem;
    /* height: 72vh; */

}
.ser-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 13%; */
}
.ser-text{
    min-height: 4.31rem;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.ser-card>*{
    margin-bottom: .53rem;
}
.ser-card img{
    width: 4.3rem;
    height: 4.3rem;
}
.ser-card>p{
    /* display: flex; */
    /* text-align: justify;
    text-align-last: center; */
   
}

             /*------SERVICE SECTION ENDS HERE -----*/


             /*------PRODUCT SECTION STARTS HERE -----*/

             #products{
                /* width: 100%; */
                /* height: 100vh; */
                /* width: 450px;
                width: 1075px; */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                /*padding:4rem 0 4rem 0; */
              
            }
            #products>*{
                /* margin-top: 2rem; */
                padding: 1rem;
            }
            #products h2{
                margin-top: 2rem;
            }
            .slider{
                position: relative;
                width: 90%;
                height: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 3rem;
            }
            .swiper{
               width: 950px;
            }
            .card{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: .5rem;
                height: 400px;
              margin: 20px 0;
                /* height: 69%;
                margin: 2.15rem; */
                /* width: auto; */
                box-shadow: 0 .53rem 1.07rem rgba(0,0,0,0.1);
            }
            .slider .card .image{
                height:90%;
                width: 100%;
            
            }
            .slider .card .image img{
                /* border: 8px solid blue; */
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* border-radius: 20%; */
                 /* border: 3px solid #fff; */
              }
            
            .card .name-profession{
                
                margin: 2rem;
                /* border: 1px solid red; */
                display: flex;
                flex-direction: column;
                /* margin-top: 10px; */
                color: black;
              } 
            .card h3, .card span{
                color: #486A6F;
            }
            .swiper-button-next,
            .swiper-button-prev {

            display: none !important;
            }

/* .swiper-pagination{
    position: absolute;
    top: 450px;
  }
  
  .swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: white;
  }
  
  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: white;
  } */
  
/* .swiper{
    width: 950px;
} */
/* .slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;

} */
/*
.pro-grid{

    display: flex;

    justify-content: space-evenly;
    gap: 1rem;
    padding: .8rem;


}
.pro-card{
    background-color: white;
  
    border-radius: .5rem;
}

.label{
    margin: 2rem;
}


#products .btn-blue{
    padding: 1.5rem 7rem 1.5rem 7rem;
    color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
} */
            /*------PRODUCT SECTION ENDS HERE -----*/


            /*------TEAM SECTION STARTS HERE -----*/    

    
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.pro-card-style{
    background-image: linear-gradient(88.7deg,#C6DBFF,#E1EBFA);
}


            /*------TEAM SECTION ENDS HERE -----*/ 

             /*------TESTOMONY SECTION STARTS HERE -----*/  

#testo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 0;
    /* height: 60vh; */
}

#testo>*{
    margin-top: 2rem;
}

.logo-bar{
    border-top: .1rem solid #486A6E;
    border-bottom: .1rem solid #486A6E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    /* margin-top: 2rem; */
}

.testo-box{
    color: #4397A4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;  
}
.testo-rev{

    position: relative;
    gap: 1rem;
    margin:2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.tem{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.tem img{
    box-shadow: 0 .1rem .53rem 0 rgba(0,0,0,0.2);
    padding: .3rem;
}


.testo-card{
    width: 85%;
    margin-bottom: 4rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .86rem 1.6rem .43rem rgba(0,0,0,.2);
}
.stars ul{
    color: gold;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .5rem;
}
             /*------TESTOMONY SECTION ENDS HERE -----*/

             /*------CONTACT SECTION STARTS HERE -----*/

#contact{

    width: 100%;
    color: #4397A4;
    display: flex;
    justify-content: center;
    min-height:65vh ;

}

.contact-flex-box{
    width: 90%;
    color: #4397A4;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0 0 6rem 0;

}
.contact-head p{
    color: #5BCCDE; 
    font-weight:300;
}
.contact-head{
    margin: 4rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}
             
.contact-box{
    display: flex;
    justify-content: center;
    /* background-color:#C6DBFF; */
    background-image: linear-gradient(90deg,#d8e5fb,#E1EBFA);
    width: 80%;
    min-height: 50%;
    border-radius: .3rem;
    margin-bottom: 3rem;
    box-shadow: 0px 1.87rem 3.74rem 0 rgba(59, 130,246 ,.25);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 1rem;
    /* border: 1px solid red; */
    width: 90%;
    /* box-shadow: 0px 30px 15px 4px rgba(198, 219,255 ,0.2) ; */
}
table{
    width: 100%;
}
td{
    padding-right: 1.07rem;
    padding-bottom: 2.15rem;
    width: 50%;
    
}
td>*{
    
    margin:.21rem;
    padding: .21rem;
    margin-left: .32rem;
    /* height: 90%; */
}
form input,textarea{
    border:.05rem solid#486A6F;
    border-radius: .2rem;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    
}
form input{
    height: 2.49rem;
  
}
form textarea{
    height: 8.12rem;
    resize: none;
}


form button{
    border: none;
    color: white;
    font-weight: 600;
}

.contact-icon-div{
    width: 85%;
    /* border: 1px solid red;    */
    display: flex;
    gap:10%;

    justify-content: center;

}
.contact-icon-inner-div{
    font-size: 1.18rem;
   display: flex;
   align-items: center;
   gap: 1rem;
}

.contact-icon-inner-div>img{
    width: 4.1rem;
    height: 4.1rem;
    background-color:#DAE6FB ;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: .2rem;
}

        /*------CONTACT SECTION ENDS HERE -----*/

        /*------FOOTER SECTION STARTS HERE -----*/

/*--------------SECTION ENDS HERE ---------------------*/

/*--------------FOOTER STARTS HERE ---------------------*/

footer{
    width: 100%;
    padding:3rem 0 3rem 0;
    /* height: 50vh; */
    background-color: #486A6E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.f-div-main{
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    
}

.f-div-main>div{
    display: flex;
    /* justify-content: space-between; */
}
.f-div-main h3{
    width: 100%;
}
.f-div-main>p{
    width: 50%;
    justify-items: center;
    /* border: 1px solid red; */
    
}

.f-div-main-details{
    
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
}
.f-div-main-details>div:nth-child(1){
    
    /* width: 85%; */
}
.f-div-main-details>div:nth-child(2){
    
    width: 10.24rem;
}
.social{
    
    /* width: 50%; */
    width: 10.24rem;
    display: inline-block;
    justify-content: space-between;
    /* margin-left: auto; */
}
.social>*{
    /* margin-left: 1rem;
    margin-bottom: 1rem; */
    font-size: 1.07rem;
    padding:.8rem;
    background-color: rgba(103, 140 , 146, .7);
    border-radius: .3rem;
}
#linkedin-svg,#fb-svg,#insta-svg{
    width: 3rem;
    height: 3rem;
}


/*--------------FOOTER ENDS HERE ---------------------*/

@media (max-width: 768px){
    .testo-rev img{
        object-fit: contain;
    }
}

@media (min-width:630px){
    :root {
        font-size: 11px;
    }
   
    .nav-bar{
        display: block;
    }
    .nav-bar a{
        color: white;
        text-decoration: none;
        margin: 2rem;
        
    }
    header{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    section{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    footer{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    /*------SERVICE SECTION STARTS HERE -----*/

    #services>*{
        margin: 3rem;
    }
    .ser-grid{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 3rem;
    
    }
   
    .ser-text{
        /* min-height:55px; */
        min-height: 4.31rem;
    }
    .ser-card>*{
        /* margin-bottom: 4px; */
        margin-bottom: .53rem;
    }
    /*------SERVICE SECTION ENDS HERE -----*/

    /*------CONTACT SECTION STARTS HERE -----*/
    form input{
        height: 2.49rem;
      
    }
    form textarea{
        height: 8.12rem;
        resize: none;
    }
    /*------CONTACT SECTION ENDS HERE -----*/
}

@media (min-width:750px){


:root {
     font-size: 13px;
}


/*------HEADER STARTS HERE -----*/
header{
    background-image: url(resources/Bg.png);
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
min-height: 100vh;

}
header h1{
    width: 80%;
    line-height: 6.5rem;
    letter-spacing: .1rem;
    margin:16.53rem 2rem 0 2rem;

}
header span{
    width: 78%;
}
.logo-bar>*{
    margin: 0;
    padding: 0;
    gap: 0px;
}
.logo-bar img{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    width: 12rem;
    height: 2.6rem;
}

/*------HEADER ENDS HERE -----*/

/*--------PRODUCT SECTION STARTS HERE--------*/

#products{
    /* width: 100%; */
    height: 100vh;
    /* width: 450px;
    width: 1075px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1.5rem;
    padding:4rem 0 4rem 0; */
  
}
.slider{
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.swiper{
   width: 950px;
}
.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .5rem;
    height: 400px;
  margin: 20px 0;
    /* height: 69%;
    margin: 2.15rem; */
    /* width: auto; */
    box-shadow: 0 .53rem 1.07rem rgba(0,0,0,0.1);
}
.slider .card .image{
    height:90%;
    width: 100%;

}
.slider .card .image img{
    /* border: 8px solid blue; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 20%; */
     /* border: 3px solid #fff; */
  }

.card .name-profession{
    
    margin: 2rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    color: black;
  } 
.card h3, .card span{
    color: #486A6F;
}


/*--------PRODUCT SECTION ENDS HERE----------*/
/*------CONTACT SECTION STARTS HERE -----*/


#contact{
    min-height: 30vh;
}

.contact-flex-box{
    padding-bottom: 0;

    /* border: 1px solid red; */
    /* width: 90%;
    height: 98%; */
    color: #4397A4;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 9rem;
    /* padding: 3rem; */
    justify-items: flex-start;

}
.contact-head p{
    color: #5BCCDE; 
    font-weight:300;
}
.contact-head{
    margin:0;
    margin-top:3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    
}          
.contact-box{
    align-self: center;
    /* border: 1px solid green; */
    grid-row: span 2;
    height: 80%;
    margin: 3rem;
    display: flex;
    justify-content: center;
    /* background-color:#C6DBFF; */
    background-image: linear-gradient(90deg,#d8e5fb,#E1EBFA);
    width: 90%;
    border-radius: .3rem;
    
    margin-bottom: 3rem;
    box-shadow: 0 1.87rem 3.74rem 0 rgba(59, 130,246 ,.25);
}


.contact-icon-div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red;    */
    display: flex;
    flex-direction: column;
    gap:10%;
    justify-content: flex-start;

}
.contact-icon-inner-div{
    font-size: 1.18rem;
   display: flex;
   align-items: center;
   gap: 1rem;
}
.contact-icon-inner-div>img{
    width: 4.1rem;
    height: 4.1rem;
    background-color:#DAE6FB ;
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: .2rem;
}

        /*------CONTACT SECTION ENDS HERE -----*/


/*------FOOTER SECTION STARTS HERE -----*/

    
        

        .f-div-main{
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 0;
            column-gap: 12rem;
        }

        .f-div-main h3{
            grid-column: 1;
            grid-row: 1;
            width: 40%;
            
        }

        .f-div-main>p{
            grid-column: 1;
            grid-row: 2;
            width: 50%;
            justify-items: center;
            /* border: 1px solid red; */
            
        }
        .social{
            grid-column: 1;
            grid-row: 3;
        }
        .f-div-main-details{
            grid-column: 2;
            grid-row: span 3;
            justify-content: space-between;
            width: 90%;
        }
        /*------FOOTER ENDS HERE -----*/

}

@media (min-width:1250px){
    :root {
        font-size: 16px;
   }
    header h1{
        width:80%;
    }
    header span{
        width: 80%;
    }
    .swiper-button-next,
    .swiper-button-prev {

    display: block !important;
    }
}

@media (min-width:1500px){
    header h1{
        width: 70%;
        margin:6.53rem 2rem 0 2rem;
    }
    header span{
        width:65%;
    }
}

@media (min-width:1800px){
    header h1{
        width: 65%;
        margin:5.53rem 2rem 0 2rem;
    }
    header span{
        width:55%;
    }
}
